<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	default-autowire="byName">

	<!-- 属性配置文件 -->
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
			<list>
				<value>classpath:/system.properties</value>
			</list>
		</property>
    </bean>

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="configProperties" />
    </bean>

    <!-- 配置数据源 -->
	<bean id="dataSource" class="com.pay.dsmclient.v2.c3p0.C3p0PooledDataSource" destroy-method="close">
       <property name="dataSourceName">
              <value>${com.pay.smsserver.datasource.name}</value>
       </property>
	</bean>

	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
  		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置mabatis的Mapper目录，自动创建Mapper对象 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sessionFactory" />
  		<property name="basePackage" value="com.pay.smsserver.mapper" />
	</bean>

	<!-- redis管理类 -->
	<bean id="redisManager" class="com.pay.smsserver.redis.RedisManager"></bean>

	<!-- 短信发送控制器 -->
	<bean id="messageHandler" class="com.pay.smsserver.handler.impl.DefaultMessageHandler">
		<property name="channelService" ref="channelService"></property>
		<property name="smsFailureService" ref="smsFailureService"></property>
		<property name="redisManager" ref="redisManager"></property>
	</bean>

    <!-- 配置监听程序 -->
	<bean id="commandCallBack" class="com.pay.smsserver.mina.command.CommandCallBackImpl" init-method="init">
		<property name="messageHandler" ref="messageHandler"></property>
		<property name="validationService" ref="validationService"></property>
		<property name="poolSize"><value>${com.pay.smsplatform.smsserver.poolSize}</value></property>
	</bean>

    <!-- 配置服务端 -->
	<bean id="messageServer" class="com.pay.smsserver.server.MessageServer" init-method="init" depends-on="commandCallBack">
		<property name="port"><value>${server.port}</value></property>
		<property name="commandCallBack">
			<ref bean="commandCallBack"></ref>
		</property>
	</bean>

	<!-- 上行短信发送到RocketMQ -->
	<bean id="astrotrainProducer" class="com.pay.smsserver.astrotrain.AstrotrainProducer" init-method="start" destroy-method="shutdown">
		<property name="topic"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.topic}</value></property>
		<property name="appId"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.appId}</value></property>
		<property name="groupName"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.groupName}</value></property>
		<property name="instanceName"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.instanceName}</value></property>
		<property name="namesrvAddr"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.namesrvAddr}</value></property>
	</bean>

	<bean id="camelAstrotrainProducer" class="com.pay.smsserver.astrotrain.CamelAstrotrainProducer" init-method="start" destroy-method="shutdown">
		<property name="topic"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.camel.topic}</value></property>
		<property name="appId"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.camel.appId}</value></property>
		<property name="groupName"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.camel.groupName}</value></property>
		<property name="instanceName"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.camel.instanceName}</value></property>
		<property name="namesrvAddr"><value>${com.pay.smsplatform.smsserver.astrotrain.producer.camel.namesrvAddr}</value></property>
	</bean>

	<!-- 配置Service -->
	<bean id="httpService" class="com.pay.smsserver.service.impl.HttpSericeImpl"></bean>
	<bean id="smsConfigService" class="com.pay.smsserver.service.impl.SmsConfigServiceImpl"></bean>
    <bean id="smsFailureService" class="com.pay.smsserver.service.impl.SmsFailureServiceImpl">
    	<property name="channelMapper" ref="channelMapper"></property>
    </bean>
	<bean id="channelService" class="com.pay.smsserver.service.impl.ChannelServiceImpl">
		<property name="masterTotal"><value>${com.pay.smsplatform.smsserver.distribute.masterTotal}</value></property>
		<property name="spareTotal"><value>${com.pay.smsplatform.smsserver.distribute.spareTotal}</value></property>
		<property name="failCount"><value>${com.pay.smsplatform.smsserver.failCount}</value></property>
		<property name="expandCodeLength"><value>${com.pay.smsplatform.smsserver.expandCodeLength}</value></property>
		<property name="redisManager" ref="redisManager"></property>
		<property name="channelMapper" ref="channelMapper"></property>
		<property name="tokenMapper" ref="tokenMapper"></property>
		<property name="messageChannelContext" ref="messageChannelContext"></property>
		<property name="producer" ref="camelAstrotrainProducer"></property>
	</bean>
	<bean id="validationService" class="com.pay.smsserver.service.impl.ValidationServiceImpl">
		<property name="redisManager" ref="redisManager"></property>
		<property name="tokenMapper" ref="tokenMapper"></property>
	</bean>

	<bean id="channelCheckStatusServiceImpl" class="com.pay.smsserver.service.impl.ChannelCheckStatusServiceImpl"></bean>

    <!-- 信鸽短信通道 -->
	<bean id="xgMessageChannelImpl" class="com.pay.smsserver.channel.impl.XGMessageChannelImpl">
		<property name="sendUrl"><value>${com.pay.smsplatform.smsserver.xinge.sendUrl}</value></property>
		<property name="appkey"><value>${com.pay.smsplatform.smsserver.xinge.appkey}</value></property>
		<property name="sdkappid"><value>${com.pay.smsplatform.smsserver.xinge.sdkappid}</value></property>
		<property name="signature"><value>${com.pay.smsplatform.smsserver.xinge.signature}</value></property>
		<property name="sendType"><value>${com.pay.smsplatform.smsserver.xinge.sendType}</value></property>
		<property name="connectionTimeOut"><value>${com.pay.smsplatform.smsserver.xinge.connectiontimeout}</value></property>
		<property name="socketTimeout"><value>${com.pay.smsplatform.smsserver.xinge.sockettimeout}</value></property>
		<property name="requestCharset"><value>${com.pay.smsplatform.smsserver.xinge.requestCharset}</value></property>
		<property name="responseCharset"><value>${com.pay.smsplatform.smsserver.xinge.responseCharset}</value></property>
		<property name="singleMaxNum"><value>${com.pay.smsplatform.smsserver.xinge.singleMaxNum}</value></property>
		<property name="multiMaxNum"><value>${com.pay.smsplatform.smsserver.xinge.multiMaxNum}</value></property>
    	<property name="submitNumber"><value>${com.pay.smsplatform.smsserver.xinge.submitNumber}</value></property>
		<property name="upLinkUrl"><value>${com.pay.smsplatform.smsserver.xinge.pull.linkup.url}</value></property>
    	<property name="pullUplinkCount"><value>${com.pay.smsplatform.smsserver.xinge.pull.linkup.count}</value></property>
    	<property name="statusUrl"><value>${com.pay.smsplatform.smsserver.xinge.pull.status.url}</value></property>
    	<property name="pullStatusCount"><value>${com.pay.smsplatform.smsserver.xinge.pull.status.count}</value></property>
		<property name="channelService" ref="channelService"></property>
		<property name="httpService" ref="httpService"></property>
		<property name="astrotrainProducer" ref="astrotrainProducer"></property>
	</bean>
	<bean id="xgSaleMessageChannelImpl" class="com.pay.smsserver.channel.impl.XGSaleMessageChannelImpl">
		<property name="sendUrl"><value>${com.pay.smsplatform.smsserver.xinge.sale.sendUrl}</value></property>
		<property name="appkey"><value>${com.pay.smsplatform.smsserver.xinge.sale.appkey}</value></property>
		<property name="sdkappid"><value>${com.pay.smsplatform.smsserver.xinge.sale.sdkappid}</value></property>
		<property name="signature"><value>${com.pay.smsplatform.smsserver.xinge.sale.signature}</value></property>
		<property name="sendType"><value>${com.pay.smsplatform.smsserver.xinge.sale.sendType}</value></property>
		<property name="connectionTimeOut"><value>${com.pay.smsplatform.smsserver.xinge.sale.connectiontimeout}</value></property>
		<property name="socketTimeout"><value>${com.pay.smsplatform.smsserver.xinge.sale.sockettimeout}</value></property>
		<property name="requestCharset"><value>${com.pay.smsplatform.smsserver.xinge.sale.requestCharset}</value></property>
		<property name="responseCharset"><value>${com.pay.smsplatform.smsserver.xinge.sale.responseCharset}</value></property>
		<property name="singleMaxNum"><value>${com.pay.smsplatform.smsserver.xinge.sale.singleMaxNum}</value></property>
		<property name="multiMaxNum"><value>${com.pay.smsplatform.smsserver.xinge.sale.multiMaxNum}</value></property>
    	<property name="submitNumber"><value>${com.pay.smsplatform.smsserver.xinge.sale.submitNumber}</value></property>
    	<property name="upLinkUrl"><value>${com.pay.smsplatform.smsserver.xinge.pull.sale.linkup.url}</value></property>
    	<property name="pullUplinkCount"><value>${com.pay.smsplatform.smsserver.xinge.pull.sale.linkup.count}</value></property>
    	<property name="statusUrl"><value>${com.pay.smsplatform.smsserver.xinge.pull.sale.status.url}</value></property>
    	<property name="pullStatusCount"><value>${com.pay.smsplatform.smsserver.xinge.pull.sale.status.count}</value></property>
		<property name="channelService" ref="channelService"></property>
		<property name="httpService" ref="httpService"></property>
		<property name="astrotrainProducer" ref="astrotrainProducer"></property>
	</bean>

	<!-- 创蓝短信通道 -->
	<bean id="clMessageChannelImpl" class="com.pay.smsserver.channel.impl.CLMessageChannelImpl">
		<property name="sendUrl"><value>${com.pay.smsplatform.smsserver.chuanglan.sendUrl}</value></property>
		<property name="userName"><value>${com.pay.smsplatform.smsserver.chuanglan.un}</value></property>
		<property name="passWord"><value>${com.pay.smsplatform.smsserver.chuanglan.pw}</value></property>
		<property name="rd"><value>${com.pay.smsplatform.smsserver.chuanglan.rd}</value></property>
		<property name="signature"><value>${com.pay.smsplatform.smsserver.chuanglan.signature}</value></property>
		<property name="connectionTimeOut"><value>${com.pay.smsplatform.smsserver.chuanglan.connectionTimeOut}</value></property>
		<property name="socketTimeout"><value>${com.pay.smsplatform.smsserver.chuanglan.socketTimeout}</value></property>
		<property name="requestCharset"><value>${com.pay.smsplatform.smsserver.chuanglan.requestCharset}</value></property>
		<property name="responseCharset"><value>${com.pay.smsplatform.smsserver.chuanglan.responseCharset}</value></property>
		<property name="singleMaxNum"><value>${com.pay.smsplatform.smsserver.chuanglan.singleMaxNum}</value></property>
		<property name="multiMaxNum"><value>${com.pay.smsplatform.smsserver.chuanglan.multiMaxNum}</value></property>
		<property name="submitNumber"><value>${com.pay.smsplatform.smsserver.chuanglan.submitNumber}</value></property>
		<property name="uplinkKey"><value>${com.pay.smsplatform.smsserver.chuanglan.pull.linkup.key}</value></property>
    	<property name="uplinkUrl"><value>${com.pay.smsplatform.smsserver.chuanglan.pull.linkup.url}</value></property>
    	<property name="timeInterval"><value>${com.pay.smsplatform.smsserver.chuanglan.pull.linkup.timeInterval}</value></property>
    	<property name="statusUrl"><value>${com.pay.smsplatform.smsserver.chuanglan.pull.status.url}</value></property>
		<property name="pullStatusCount"><value>${com.pay.smsplatform.smsserver.chuanglan.pull.status.count}</value></property>
		<property name="channelService" ref="channelService"></property>
		<property name="httpService" ref="httpService"></property>
		<property name="astrotrainProducer" ref="astrotrainProducer"></property>
	</bean>
	<bean id="clSaleMessageChannelImpl" class="com.pay.smsserver.channel.impl.CLSaleMessageChannelImpl">
		<property name="sendUrl"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.sendUrl}</value></property>
		<property name="userName"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.un}</value></property>
		<property name="passWord"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.pw}</value></property>
		<property name="rd"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.rd}</value></property>
		<property name="signature"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.signature}</value></property>
		<property name="connectionTimeOut"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.connectionTimeOut}</value></property>
		<property name="socketTimeout"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.socketTimeout}</value></property>
		<property name="requestCharset"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.requestCharset}</value></property>
		<property name="responseCharset"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.responseCharset}</value></property>
		<property name="singleMaxNum"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.singleMaxNum}</value></property>
		<property name="multiMaxNum"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.multiMaxNum}</value></property>
		<property name="submitNumber"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.submitNumber}</value></property>
		<property name="uplinkKey"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.pull.linkup.key}</value></property>
    	<property name="uplinkUrl"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.pull.linkup.url}</value></property>
    	<property name="timeInterval"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.pull.linkup.timeInterval}</value></property>
    	<property name="statusUrl"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.pull.status.url}</value></property>
		<property name="pullStatusCount"><value>${com.pay.smsplatform.smsserver.chuanglan.sale.pull.status.count}</value></property>
		<property name="channelService" ref="channelService"></property>
		<property name="httpService" ref="httpService"></property>
		<property name="astrotrainProducer" ref="astrotrainProducer"></property>
	</bean>

	<!-- 企信通短信通道 -->
	<bean id="qxtMessageChannelImpl" class="com.pay.smsserver.channel.impl.QXTMessageChannelImpl">
		<property name="sendUrl"><value>${com.pay.smsplatform.smsserver.qixintong.sendUrl}</value></property>
		<property name="userName"><value>${com.pay.smsplatform.smsserver.qixintong.username}</value></property>
		<property name="passWord"><value>${com.pay.smsplatform.smsserver.qixintong.password}</value></property>
		<property name="epid"><value>${com.pay.smsplatform.smsserver.qixintong.epid}</value></property>
		<property name="signature"><value>${com.pay.smsplatform.smsserver.qixintong.signature}</value></property>
		<property name="connectionTimeOut"><value>${com.pay.smsplatform.smsserver.qixintong.connectiontimeout}</value></property>
		<property name="socketTimeout"><value>${com.pay.smsplatform.smsserver.qixintong.sockettimeout}</value></property>
		<property name="proxyIp"><value>${com.pay.smsplatform.smsserver.qixintong.proxyIp}</value></property>
		<property name="proxyPort"><value>${com.pay.smsplatform.smsserver.qixintong.proxyPort}</value></property>
		<property name="requestCharset"><value>${com.pay.smsplatform.smsserver.qixintong.requestCharset}</value></property>
		<property name="responseCharset"><value>${com.pay.smsplatform.smsserver.qixintong.responseCharset}</value></property>
		<property name="upLinkUrl"><value>${com.pay.smsplatform.smsserver.qixintong.uplink.sendUrl}</value></property>
    	<property name="statusUrl"><value>${com.pay.smsplatform.smsserver.qixintong.status.sendUrl}</value></property>
		<property name="singleMaxNum"><value>${com.pay.smsplatform.smsserver.qixintong.singleMaxNum}</value></property>
		<property name="multiMaxNum"><value>${com.pay.smsplatform.smsserver.qixintong.multiMaxNum}</value></property>
		<property name="submitNumber"><value>${com.pay.smsplatform.smsserver.qixintong.submitNumber}</value></property>
		<property name="channelService" ref="channelService"></property>
		<property name="httpService" ref="httpService"></property>
	</bean>
	<bean id="qxtSmsSaleChannelImpl" class="com.pay.smsserver.channel.impl.QXTSaleMessageChannelImpl">
		<property name="sendUrl"><value>${com.pay.smsplatform.smsserver.qixintong.sale.sendUrl}</value></property>
		<property name="userName"><value>${com.pay.smsplatform.smsserver.qixintong.sale.username}</value></property>
		<property name="passWord"><value>${com.pay.smsplatform.smsserver.qixintong.sale.password}</value></property>
		<property name="epid"><value>${com.pay.smsplatform.smsserver.qixintong.sale.epid}</value></property>
		<property name="signature"><value>${com.pay.smsplatform.smsserver.qixintong.signature}</value></property>
		<property name="connectionTimeOut"><value>${com.pay.smsplatform.smsserver.qixintong.sale.connectiontimeout}</value></property>
		<property name="socketTimeout"><value>${com.pay.smsplatform.smsserver.qixintong.sale.sockettimeout}</value></property>
		<property name="proxyIp"><value>${com.pay.smsplatform.smsserver.qixintong.proxyIp}</value></property>
		<property name="proxyPort"><value>${com.pay.smsplatform.smsserver.qixintong.proxyPort}</value></property>
		<property name="requestCharset"><value>${com.pay.smsplatform.smsserver.qixintong.sale.requestCharset}</value></property>
		<property name="responseCharset"><value>${com.pay.smsplatform.smsserver.qixintong.sale.responseCharset}</value></property>
		<property name="upLinkUrl"><value>${com.pay.smsplatform.smsserver.qixintong.uplink.sendUrl}</value></property>
    	<property name="statusUrl"><value>${com.pay.smsplatform.smsserver.qixintong.status.sendUrl}</value></property>
		<property name="singleMaxNum"><value>${com.pay.smsplatform.smsserver.qixintong.sale.singleMaxNum}</value></property>
		<property name="multiMaxNum"><value>${com.pay.smsplatform.smsserver.qixintong.sale.multiMaxNum}</value></property>
		<property name="channelService" ref="channelService"></property>
		<property name="httpService" ref="httpService"></property>
	</bean>
	<!-- 大汉三通卡友支付通知类短信通道 -->
	<bean id="dhMessageChannelImpl" class="com.pay.smsserver.channel.impl.DHMessageChannelImpl">
		<property name="url"><value>${com.pay.smsplatform.smsserver.dahansantong.sendUrl}</value></property>
		<property name="account"><value>${com.pay.smsplatform.smsserver.dahansantong.account}</value></property>
		<property name="password"><value>${com.pay.smsplatform.smsserver.dahansantong.password}</value></property>
		<property name="signature"><value>${com.pay.smsplatform.smsserver.dahansantong.signature}</value></property>
		<property name="connectionTimeOut"><value>${com.pay.smsplatform.smsserver.dahansantong.connectiontimeout}</value></property>
		<property name="socketTimeout"><value>${com.pay.smsplatform.smsserver.dahansantong.sockettimeout}</value></property>
		<property name="requestCharset"><value>${com.pay.smsplatform.smsserver.dahansantong.requestCharset}</value></property>
		<property name="responseCharset"><value>${com.pay.smsplatform.smsserver.dahansantong.responseCharset}</value></property>
		<property name="proxyIp"><value>${com.pay.smsplatform.smsserver.dahansantong.proxyIp}</value></property>
		<property name="proxyPort"><value>${com.pay.smsplatform.smsserver.dahansantong.proxyPort}</value></property>
		<property name="singleMaxNum"><value>${com.pay.smsplatform.smsserver.dahansantong.singleMaxNum}</value></property>
		<property name="multiMaxNum"><value>${com.pay.smsplatform.smsserver.dahansantong.multiMaxNum}</value></property>
		<property name="submitNumber"><value>${com.pay.smsplatform.smsserver.dahansantong.submitNumber}</value></property>
    	<property name="upLinkUrl"><value>${com.pay.smsplatform.smsserver.dahansantong.uplink.sendUrl}</value></property>
    	<property name="statusUrl"><value>${com.pay.smsplatform.smsserver.dahansantong.status.sendUrl}</value></property>
		<property name="channelService" ref="channelService"></property>
		<property name="httpService" ref="httpService"></property>
		<property name="astrotrainProducer" ref="astrotrainProducer"></property>
	</bean>
	<bean id="dhSaleMessageChannelImpl" class="com.pay.smsserver.channel.impl.DHSaleMessageChannelImpl">
		<property name="url"><value>${com.pay.smsplatform.smsserver.dahansantong.sale.sendUrl}</value></property>
		<property name="account"><value>${com.pay.smsplatform.smsserver.dahansantong.sale.account}</value></property>
		<property name="password"><value>${com.pay.smsplatform.smsserver.dahansantong.sale.password}</value></property>
		<property name="signature"><value>${com.pay.smsplatform.smsserver.dahansantong.signature}</value></property>
		<property name="connectionTimeOut"><value>${com.pay.smsplatform.smsserver.dahansantong.connectiontimeout}</value></property>
		<property name="socketTimeout"><value>${com.pay.smsplatform.smsserver.dahansantong.sockettimeout}</value></property>
		<property name="requestCharset"><value>${com.pay.smsplatform.smsserver.dahansantong.requestCharset}</value></property>
		<property name="responseCharset"><value>${com.pay.smsplatform.smsserver.dahansantong.responseCharset}</value></property>
		<property name="proxyIp"><value>${com.pay.smsplatform.smsserver.dahansantong.proxyIp}</value></property>
		<property name="proxyPort"><value>${com.pay.smsplatform.smsserver.dahansantong.proxyPort}</value></property>
		<property name="singleMaxNum"><value>${com.pay.smsplatform.smsserver.dahansantong.singleMaxNum}</value></property>
		<property name="multiMaxNum"><value>${com.pay.smsplatform.smsserver.dahansantong.multiMaxNum}</value></property>
		<property name="statusUrl"><value>${com.pay.smsplatform.smsserver.dahansantong.status.sendUrl}</value></property>
		<property name="upLinkUrl"><value>${com.pay.smsplatform.smsserver.dahansantong.uplink.sendUrl}</value></property>
		<property name="submitNumber"><value>${com.pay.smsplatform.smsserver.dahansantong.submitNumber}</value></property>
		<property name="channelService" ref="channelService"></property>
		<property name="httpService" ref="httpService"></property>
		<property name="astrotrainProducer" ref="astrotrainProducer"></property>
	</bean>

	<!-- 通道上下文 -->
	<bean id="messageChannelContext" class="com.pay.smsserver.channel.MessageChannelContext">
		<property name="channelMap">
			<map>
				<entry key="ChuangLan">
					<ref bean="clMessageChannelImpl"/>
				</entry>
				<entry key="ChuangLanSale">
					<ref bean="clSaleMessageChannelImpl" />
				</entry>
				<entry key="XinGe">
					<ref bean="xgMessageChannelImpl"/>
				</entry>
				<entry key="XinGeSale">
					<ref bean="xgSaleMessageChannelImpl" />
				</entry>
				<entry key="QiXinTong">
					<ref bean="qxtMessageChannelImpl"/>
				</entry>
				<entry key="QiXinTongSale">
					<ref bean="qxtSmsSaleChannelImpl" />
				</entry>
				<entry key="DaHan">
					<ref bean="dhMessageChannelImpl"/>
				</entry>
				<entry key="DaHanSale">
					<ref bean="dhSaleMessageChannelImpl" />
				</entry>
			</map>
		</property>
	</bean>


    <!-- 配置01、JobHandler -->
		<bean id="daHanSanTongStatusJobHandler" class="com.pay.smsserver.jobHandler.DaHanSanTongStatusJobHandler">
			<property name="messageChannel" ref="dhMessageChannelImpl"></property>
		</bean>
		<bean id="daHanSanTongUplinkJobHandler" class="com.pay.smsserver.jobHandler.DaHanSanTongUplinkJobHandler">
			<property name="messageChannel" ref="dhMessageChannelImpl"></property>
		</bean>
		<bean id="daHanSanTongSaleStatusJobHandler" class="com.pay.smsserver.jobHandler.DaHanSanTongSaleStatusJobHandler">
			<property name="messageChannel" ref="dhSaleMessageChannelImpl"></property>
		</bean>
		<bean id="daHanSanTongSaleUplinkJobHandler" class="com.pay.smsserver.jobHandler.DaHanSanTongSaleUplinkJobHandler">
			<property name="messageChannel" ref="dhSaleMessageChannelImpl"></property>
		</bean>
		<bean id="chuangLanStatusJobHandler" class="com.pay.smsserver.jobHandler.ChuangLanStatusJobHandler">
			<property name="messageChannel" ref="clMessageChannelImpl"></property>
		</bean>
		<bean id="chuangLanUplinkJobHandler" class="com.pay.smsserver.jobHandler.ChuangLanUplinkJobHandler">
			<property name="messageChannel" ref="clMessageChannelImpl"></property>
		</bean>
		<bean id="chuangLanSaleStatusJobHandler" class="com.pay.smsserver.jobHandler.ChuangLanSaleStatusJobHandler">
			<property name="messageChannel" ref="clSaleMessageChannelImpl"></property>
		</bean>
		<bean id="chuangLanSaleUplinkJobHandler" class="com.pay.smsserver.jobHandler.ChuangLanSaleUplinkJobHandler">
			<property name="messageChannel" ref="clSaleMessageChannelImpl"></property>
		</bean>
		<bean id="qiXinTongStatusJobHandler" class="com.pay.smsserver.jobHandler.QiXinTongStatusJobHandler">
			<property name="messageChannel" ref="qxtMessageChannelImpl"></property>
		</bean>
		<bean id="qiXinTongUplinkJobHandler" class="com.pay.smsserver.jobHandler.QiXinTongUplinkJobHandler">
			<property name="messageChannel" ref="qxtMessageChannelImpl"></property>
		</bean>
		<bean id="qiXinTongSaleStatusJobHandler" class="com.pay.smsserver.jobHandler.QiXinTongSaleStatusJobHandler">
			<property name="messageChannel" ref="qxtSmsSaleChannelImpl"></property>
		</bean>
		<bean id="qiXinTongSaleUplinkJobHandler" class="com.pay.smsserver.jobHandler.QiXinTongSaleUplinkJobHandler">
			<property name="messageChannel" ref="qxtSmsSaleChannelImpl"></property>
		</bean>

		 <!-- 失败重发定时任务 -->
	    <bean id="smsFailureJobHandler" class="com.pay.smsserver.jobHandler.SmsFailureJobHandler">
			<property name="messageHandler" ref="messageHandler"></property>
			<property name="retryCodes"><value>${com.pay.smsplatform.smsserver.failure.job.retryCode}</value></property>
			<property name="total"><value>${com.pay.smsplatform.smsserver.failure.job.total}</value></property>
			<property name="smsFailureService" ref="smsFailureService"></property>
	    </bean>
	    <!-- 通道状态监控任务 -->
	    <bean id="channelCheckStatusJobHandler" class="com.pay.smsserver.jobHandler.ChannelCheckStatusJobHandler">
			<property name="successRate"><value>${com.pay.smsplatform.smsserver.checkStatus.job.successRate}</value></property>
			<property name="recoverInterval"><value>${com.pay.smsplatform.smsserver.checkStatus.job.recoverInterval}</value></property>
			<property name="checkInterval"><value>${com.pay.smsplatform.smsserver.checkStatus.job.checkInterval}</value></property>
			<property name="channelCheckStatusService" ref="channelCheckStatusServiceImpl"></property>
			<property name="smsConfigService" ref="smsConfigService"></property>
	    </bean>
	    <!-- 送达率统计定时任务 -->
	    <bean id="staticalSendRateJobHandler" class="com.pay.smsserver.jobHandler.StaticalSendRateJobHandler">
			<property name="channelService" ref="channelService"></property>
	    </bean>
		<!-- 配置02、执行器 -->
		<bean id="dspJobExecutor" class="com.pay.dsp.core.executor.DspJobExecutor" init-method="start" destroy-method="destroy" >
			<property name="executorAppName" value="${com.pay.smsserver.appName}"/>
			<property name="zkServerAddress" value="${com.pay.smsserver.zookeeper}"/>
			<property name="jobHandlerRepository">
            <bean class="java.util.concurrent.ConcurrentHashMap">
            	<constructor-arg>
	            	<map>
		                <entry key="daHanSanTongStatusJobHandler"><ref bean="daHanSanTongStatusJobHandler"/></entry>
		                <entry key="daHanSanTongUplinkJobHandler"><ref bean="daHanSanTongUplinkJobHandler"/></entry>
		                <entry key="daHanSanTongSaleStatusJobHandler"><ref bean="daHanSanTongSaleStatusJobHandler"/></entry>
		                <entry key="daHanSanTongSaleUplinkJobHandler"><ref bean="daHanSanTongSaleUplinkJobHandler"/></entry>
		                <entry key="chuangLanStatusJobHandler"><ref bean="chuangLanStatusJobHandler"/></entry>
		                <entry key="chuangLanUplinkJobHandler"><ref bean="chuangLanUplinkJobHandler"/></entry>
		                <entry key="chuangLanSaleStatusJobHandler"><ref bean="chuangLanSaleStatusJobHandler"/></entry>
		                <entry key="chuangLanSaleUplinkJobHandler"><ref bean="chuangLanSaleUplinkJobHandler"/></entry>
		                <entry key="qiXinTongStatusJobHandler"><ref bean="qiXinTongStatusJobHandler"/></entry>
		                <entry key="qiXinTongUplinkJobHandler"><ref bean="qiXinTongUplinkJobHandler"/></entry>
		                <entry key="qiXinTongSaleStatusJobHandler"><ref bean="qiXinTongSaleStatusJobHandler"/></entry>
		                <entry key="qiXinTongSaleUplinkJobHandler"><ref bean="qiXinTongSaleUplinkJobHandler"/></entry>
		                <entry key="smsFailureJobHandler"><ref bean="smsFailureJobHandler"/></entry>
		               <!--  <entry key="channelCheckStatusJobHandler"><ref bean="channelCheckStatusJobHandler"/></entry>
	            	 -->
	            	  <entry key="staticalSendRateJobHandler"><ref bean="staticalSendRateJobHandler"/></entry>
	            	</map>
            	</constructor-arg>
            </bean>
        </property>
	</bean>
</beans>